.vscode

listas-encadeadas/listaEncadeada
listas-encadeadas/exercicios/4-7-1-vetorParaLista
listas-encadeadas/exercicios/4-7-2-listaParaVetor
listas-encadeadas/exercicios/4-7-5-concatenacao
listas-encadeadas/exercicios/4-7-6-contagem