.vscode

listas-encadeadas/listaEncadeada
listas-encadeadas/exercicios/4-7-1-vetorParaLista
listas-encadeadas/exercicios/4-7-2-listaParaVetor
listas-encadeadas/exercicios/4-7-5-concatenacao
listas-encadeadas/exercicios/4-7-6-contagem
listas-encadeadas/exercicios/4-7-7-pontoMedio
listas-encadeadas/exercicios/4-7-8-contagemERemocao
listas-encadeadas/exercicios/4-7-9-contagemEInsercao
listas-encadeadas/exercicios/4-7-10-liberacao
listas-encadeadas/exercicios/4-7-11-inversao
listas-encadeadas/exercicios/4-8-2-removeCelulaListaDuplamenteLigada
listas-encadeadas/exercicios/4-8-3-insereCelula
listas-encadeadas/exercicios/4-8-4-problemaDeJosephus

filas/filaEmVetor